button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

div.rooms {
    
    place-items: center;
    text-align: center ;
}

.input {
    place-items: center;
    text-align: center ;
}

div.gggg {
    place-items: center;
    text-align: center ;
}